:root {
  --primary-blue: #051C34;
  --light-blue: #E02126;
  --red: #E02126;
  --light-grey: #F2F2F2;
  --white: #FFFFFF
}

body {
  padding: 0px;
  margin: 0px;
}

.main-container {
  width: 990px;
  margin: 0 auto;
}

.header {
  background-color: var(--primary-blue);
  padding: 15px;
  color: var(--white)
}